:host{
  padding: 1rem;
  background-color: var(--pastel-pink);
}

header {
  display: flex;
  align-items: center;
}

span {
  font-size: 2.6rem;
  color: var(--pastel-pink-darker);
  flex-wrap: wrap;
}
button-component:first-child{
  margin-right: auto;
}
button-component:not(:first-child) {
  margin-left: 1rem;
}
