<header>
    <button-component (onClick)="navigateHome($event)" [noStyle]=true>
      <span>PinkTuit</span>
    </button-component>


    <button-component *ngIf="!isUserLoggedIn()" (onClick)="logIn($event)">
      Log in
    </button-component>

    <button-component *ngIf="!isUserLoggedIn()" (onClick)="createAccount($event)">
      Create account
    </button-component>

    <button-component *ngIf="isUserLoggedIn()" (onClick)="logOut($event)">
      Log out
    </button-component>

</header>
