button {
	background: none;
  color: currentcolor;
	font: inherit;
	cursor: pointer;

  padding: 0.4em 1em;
  border: none;
  border-radius: 3px;

  background-color: var(--pastel-pink);


}

button:not(:disabled):hover {
    background-color: var(--pastel-pink-darker);
}

button:disabled {
 opacity: 50%;
}

