:host{
  height: 100%;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
}

section {
  max-width: 780px;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--pastel-pink);
}

post-view {
  margin-top: 1em;
}

footer-component {
  margin-top: auto;
}
